<h2>ユーザータスク詳細</h2>
<p><%= notice %></p>
<p>ユーザー名: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<table class="container">
  <tr class="row">
    <th class="col-md-2">ユーザー名</th>
    <th class="col-md-2">タスク名</th>
    <th class="col-md-2">詳しい内容</th>
    <th class="col-md-2">終了期限</th>
    <th class="col-md-1">ステータス</th>
    <th class="col-md-1">優先度</th>
  </tr>
<% @user.tasks.each do |task| %>
  <tr class="row">
  <td class="col-md-2"><%= task.user.name %></td>
  <td class="col-md-2"><%= task.task_name %></td>
  <td class="col-md-2"><%= task.content %></td>
  <td class="col-md-2"> <%= format("%04d-%02d-%02d", task.deadline.year, task.deadline.month, task.deadline.day) %> </td>
  <td class="col-md-1"> <%= task.status %> </td>
  <td class="col-md-1"> <%= task.priority %> </td>
  <td><%= link_to '詳細', task_path(task.id) %></td>
  <td><%= link_to "編集", edit_task_path(task.id) %></td>
  <td><%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<p><%= link_to "一覧画面に戻る", admin_users_path %></p>
